@import "tailwindcss";

.container{
  width: 1350px;
  height: 100px;
  margin: 0 auto;
}
.slick-slider .slick-dots {
  top: 380px;
}
.slick-dots li button:before {
  scale: 2;
}
/* Webkit ব্রাউজার (Chrome, Safari) এর জন্য */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Mozilla Firefox এর জন্য */
input[type="number"] {
  -moz-appearance: textfield;
}
